.alt-header{
    padding: 40px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__column:first-child{
    margin-right: auto;
}

.alt-header__column:last-child{
    margin-left: auto;
}

.alt-header__column h1{
    font-size: 26px;
    font-weight: 600;
}